hr{
    color: #24FF00;
}
h1{
    font-size: 40px;
}
.hedinSect{
    background-color: #73A24E;
}
#post{
    height:5%;
    width:5%;
}
.footset{
    background-color: #928989;
}
#AbMe{
    text-align: center;
}
#uplogo{
    width :4%;
    height:4%;
}
#hey{
    color: red;
}