hr{
    color: #24FF00;
}
h1{
    font-size: 40px;
}
.hedinSect{
    background-color: #73A24E;
}
#post{
    height:5%;
    width:5%;
}
.footset{
    background-color: #928989;
}
#AbMe{
    text-align: center;
}
#uplogo{
    width :4%;
    height:4%;
}
#hey{
    color: red;
}
#hey:after{
    content: "👋👋";
}
#btnabme:active{
    color: red;
}
#btnskil:active{
    color: red;
}
#btnser:active{
    color: red;
}
#btnact:active{
    color: red;
}
#btngallery:active{
    color: red;
}
#btncon:active{
    color: red;
}
main>a>div{
    height: 50px;
    width: 50px;
    background: blueviolet;
    border-radius: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}
footer>img{
    align-content: center;
}
