/*To header */
header:first-of-type{
    background: #73A24E;
    width: 99vw;
    height: 40px;
    position: relative;
}
header>img{
    position: absolute;
    height: 40px;
    left: 5px;
}
header>nav>ul{
    list-style: none;
    position: absolute;
    right: 1%;
}
header>nav>ul>li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    border-right: 2px solid white;
}
header>nav>ul>li>a{
    color: white;
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: red;
}
header>nav>ul>li>a>i{
    margin-right: 10px;
}
/*------------------------------------------------------------------------------------*/
/*To main */
/*First Section in main*/
main>section:nth-child(1)>img{
    width: 99vw;
    height: 94vh;
}
/*------------------------------------------------------------------------*/
/*Second Section in main*/
main>section:nth-child(2)>header{
    width: 98vw;
    height: 40px;
}
main>section:nth-child(2)>header>h1{
    color: black;
}
main>section:nth-child(2)>p{
    font-size: 20px;
    color: red;
}
main>section:nth-child(2)>article>p{
    text-align: center;
}
/*------------------------------------------------------------------------*/
/*Third Section inb main*/
main>section:nth-child(3){
    height: 270px;
}
main>section:nth-child(3)>section:nth-child(2){
    height: 120px;
    display: flex;
    align-items: center;/* Flex Container Y axis*/ /* flex-start (Default) / center / flex-end*/
    justify-content: space-around; /* Flex container X axis*/ /* center / flex-start / flex-end / space-evenly / space-around / space-between */
}
main>section:nth-child(3)>section:nth-child(2)>div>img{
    height: 100px;
    width: 100px;
}
main>section:nth-child(3)>section:nth-child(2)>div{
    height: 100px;
    width: 100px;
    border: 1px solid red;
}
main>section:nth-child(3)>section:nth-child(3)>div>img{
    height: 100px;
    width: 100px;
}
main>section:nth-child(3)>section:nth-child(3)>div{
    height: 100px;
    width: 100px;
    border: 1px solid red;
}
/*------------------------------------------------------------------------*/
/*Fourth section in main*/
main>section:nth-child(4)>section:nth-child(2){
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main>section:nth-child(4)>section:nth-child(2)>div{
    height:180px;
    width: 180px;
    margin-top: 20px;
}
main>section:nth-child(4)>section:nth-child(2)>div>img{
    height:180px;
}
/*------------------------------------------------------------------------*/
/*Div in main*/
main>a>div:first-of-type{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: red;
    position: fixed;
    right: 0;
    bottom: 0;
}
main>a>div:first-of-type>img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

